<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Personal Account</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<div class="form">
    <form method="post" action="/personal">
        <h2>Welcome <span th:text = "${userLogin}"></span></h2>
        <div class="navbar">
            <nav>
                <div class="input-box">
                    <a th:href="@{/Dashboard}">Dashboard</a>
                </div>
            <div class="input-box">
                <a th:href="@{/subjects}">Subjects</a>
        </div>
        <div class="input-box">
            <a th:href="@{/Progress}">Progress</a>
        </div>
            </nav>
        <a href="/logout">Logout</a>
        </div>
    </form>
</div>
